<html>

<head>
    <title>Ninjas</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
</head>

<body>
    <h1>ninja</h1>
    <h3>noun, plural</h3>
    <ol>
        <li>
            a member of a feudal Japanese society of mercenary agents, highly trained in martial arts and stealth (ninjutsu) who were
            hired for covert purposes ranging from espionage to sabotage and assassination.
        </li>
        <li>
            a person who is expert or highly skilled in a specified field or activity (often used attributively)
        </li>
    </ol>
</body>

</html>