<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Survey</title>
</head>

<body>
    <form action="/result" method="POST">
        First name:
        <input type="text" name="name"><br>
        Dojo Location:
        <input type="text" name="location"><br>
        Favorite Langugage:
        <input type="text" name="language"><br>
        Comments (optional)
        <br><textarea name="comments" cols="30" rows="5"></textarea><br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>